body{
    font-family: Tahoma;
    margin: 0;
    background-image: url("./Registration/assets/images/Back.jpg")
}
h1{
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffffff;
}
form{
    margin: 0 auto;
    background: #ffffff;
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.group button{
    margin: 10px;
    padding: 5px;
}
label{
    padding-left: 10px;
    text-transform: uppercase;
}
input{
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 20px/20px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus{
    border: 2px solid #6c00ff;
    transform: translateX(15px);
    width: 385;
}
button{
    -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 0px 0px 2px #0d0c0d;
  -webkit-box-shadow: 4px 3px 3px #524352;
  -moz-box-shadow: 4px 3px 3px #524352;
  box-shadow: 4px 3px 3px #524352;
  font-family: Arial;
  color: #000000;
  font-size: 22px;
  background: #dae1e6;
  padding: 0px 28px 0px 21px;
  border: solid #1e1f1f 2px;
  text-decoration: none;
}
button:hover {
  text-decoration: none;
}





